body {
    background-image: url("../images/noisy-texture-100x100_4.png");
    /* background: linear-gradient(to bottom, #fff 0%,#fff 100%); */
    font-family: "PT Sans Caption", Arial, Verdana, Helvetica;

}

small {
    font-size: 55%;
    color: #777;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.label {
    font-weight: 500;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-default {
    background-color: #445;
}

.header {
    text-align: center;
    padding: 10px;
}

.header h1 a {
    color: #222;
}

img {
    width: 100%;
}

.project-images {
    display: block;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: auto;
    width: 70%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5pt;
}

.shadow {
    /* background: #fc0;  */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 5pt;
}
